<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-5 pl-4 pt-4 mt-5" *ngFor="let goal of goals">
        <h3>{{ goal.name }}</h3>
        <p>{{ goal.description }}</p>
        <div *ngIf="goal.showDescription">
          <div class="mb-3">
            <button
              class="btn btn-success ml-2"
              (click)="clickedFunction(goal.showDescription)"
            >
              Click Me
            </button>
            <button class="btn btn-danger ml-2" (click)="deleteGoal(goal.id)">
              Delete Goal
            </button>
            <button class="btn btn-secondary ml-2" (click)="viewGoal(goal.id)">
              View Goal
            </button>
          </div>
          <h6 *ngIf="nameValue">{{ nameValue }}</h6>
        </div>
      </div>
      <div *ngIf="goals.length === 0">
        <div class="container">
          <button class="btn btn-success">No Goals</button>
        </div>
      </div>
    </div>
  </div>
</div>
